body {
	font-family: 'Lato';
	font-size: 18px;
}

.navigation {
	background: #fff;
	border-bottom: none;
	height: 100px;
	padding-left: 15px;
	padding-right: 15px;
	width: 100%;
}

.navigation .row {
	height: 100px;
}

.nav-logo-container button {
	margin: 25px 0;
}

.menu {
	margin: 35px 0;
	padding: 0;
}

.menu li {
	display: inline-block;
	font-size: 0.8em;
	font-weight: 400;
	padding: 0 15px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}

.menu li a {
	color: #3e3739;
	text-decoration: none;
}

.menu li a:hover {
	background: none;
}
.menu li a:active {
	color: #a69b9e;
}

.navbar-header {
    height: 100px;     
}

.navbar-brand {
	height: 100px;
}
.navbar-brand img {
	height: auto;
	width: 157px;
}

.navbar-toggle {
    margin: 25px 0;
}

.section-container {
	margin-top: 100px;
} 

#seccion1 {

	height: 900px; 
  	display: block;
  	position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#seccion1::after {
	content: "";
  	background: url('../img/seccion1.png') no-repeat center; 
	background-size: cover;  
	opacity: 0.8;
  	top: 0;
  	left: 0;
  	bottom: 0;
  	right: 0;
  	position: absolute;
  	z-index: -1;   
}

.conoce-mas-txt {
	color: #fffdfd;
	font-size: 2.5em;
	text-align: center;
	font-weight: 700;
	padding: 20px 20px;
}

.conoce-mas-btn {
	color: #fff;
	background: #0039A6;
	font-size: 1em;
	display: block;
	margin: 20px auto 20px auto;
	height: 50px;
	width: 300px;
	border-radius: 0;
}

.conoce-mas-btn:hover {
	color: #c4c4c4;
}


#seccion2 {
	height: 900px; 
  	display: block;
  	position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#seccion2::after {
	content: "";
  	background: #fff; 
	background-size: cover;  
	opacity: 0.8;
  	top: 0;
  	left: 0;
  	bottom: 0;
  	right: 0;
  	position: absolute;
  	z-index: -1;   
}

.admision-txt {
	color: #002d72;
	font-size: 2em;
	text-align: center;
	font-weight: 700;
	padding: 20px 20px;
}

.admision-btn {
	color: #fff;
	background: #373737; 
	font-size: 1em;
	display: block;
	margin: 20px auto 20px auto;
	height: 50px;
	width: 325px;
	border-radius: 0;
}

.admision-btn:hover {
	color: #c4c4c4;
}

#seccion3 {

	height: 800px; 
	background: url('../img/seccion2.png') no-repeat center; 
	background-size: cover;
	-khtml-opacity:.80; 
 	-moz-opacity:.80; 
 	-ms-filter:"alpha(opacity=80)";
  	filter:alpha(opacity=80);
  	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.8);
  	opacity:.80;
}
#seccion4 {
	height: 800px; 
	background: url('../img/seccion3.png') no-repeat center; 
	background-size: cover;
	-khtml-opacity:.80; 
 	-moz-opacity:.80; 
 	-ms-filter:"alpha(opacity=80)";
  	filter:alpha(opacity=80);
  	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.8);
  	opacity:.80;
}
#seccion5 {
	height: 800px; 
	background: url('../img/seccion5.png') no-repeat center;
	background-size: cover;
	-khtml-opacity:.80; 
 	-moz-opacity:.80; 
 	-ms-filter:"alpha(opacity=80)";
  	filter:alpha(opacity=80);
  	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.8);
  	opacity:.80;
}

.container-fluid {
	padding: 0;
}

@media screen and (max-width: 414px) {

	body {
		font-size: 14px;
	}

	.admision-btn {
		width: 250px;
	}

}
