
.navigation {
	background: #fff;
	height: 100px;
	border-bottom: 1px solid #0039A6;
}

.navigation-row,
.navigation-container-fluid,
.navbar-header,
.navbar-brand,
.navbar-collapse {
	height: 100px;
}

.navbar-header button {
	margin: 30px 15px;
}

.navigation .navbar-brand img {
	height: 80px;
	width: auto;
}

.menu {
	margin: 25px 0;
	padding: 0 15px;
}
