
body {
		width: 100%;
	font-family: 'Lato';
	font-size: 18px;
}

section {
	width: 100%;
}

.navigation {
	background: #fff;
	border-bottom: none;
	height: 100px;
}

.navigation .row {
	height: 100px;
}

.nav-logo-container button {
	margin: 25px 0;
}

.menu {
	margin: 35px 0;
	padding: 0;
}

.menu li {
	display: inline-block;
	font-size: 0.8em;
	font-weight: 400;
	padding: 0 15px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}

.menu li a {
	color: #3e3739;
	text-decoration: none;
}

.menu li a:hover {
	background: none;
}
.menu li a:active {
	color: #a69b9e;
}

.navbar-header {
    height: 100px;     
}

.navbar-brand {
	height: 100px;
}
.navbar-brand img {
	height: auto;
	width: 157px;
}

.navbar-toggle {
    margin: 35px 25px;
}

.section-container {
	margin-top: 100px;
} 

#seccion1 {
	height: 700px; 
  	display: block;
  	position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#seccion1::after {
	content: "";
  	background: url('../img/seccion1.png') no-repeat center; 
	background-size: cover;  
	opacity: 0.8;
  	top: 0;
  	left: 0;
  	bottom: 0;
  	right: 0;
  	position: absolute;
  	z-index: -1;   
}

.conoce-mas-txt {
	color: #fffdfd;
	font-size: 2.5em;
	text-align: center;
	font-weight: 700;
	padding: 20px 20px;
}

.conoce-mas-btn {
	color: #fff;
	background: #0039A6;
	font-size: 1em;
	display: block;
	margin: 20px auto 20px auto;
	height: 50px;
	width: 300px;
	border-radius: 0;
}

.conoce-mas-btn:hover {
	color: #c4c4c4;
}


#seccion2 {
	height: 700px; 
  	display: block;
  	position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#seccion2::after {
	content: "";
  	background: #0039A6; 
	background-size: cover;  
	opacity: 0.8;
  	top: 0;
  	left: 0;
  	bottom: 0;
  	right: 0;
  	position: absolute;
  	z-index: -1;   
}

.admision-txt {
	color: #fffdfd;
	font-size: 2em;
	text-align: center;
	font-weight: 700;
	padding: 20px 20px;
}

.admision-btn {
	color: #373737;
	background: #eaeaea; 
	font-size: 1em;
	display: block;
	margin: 20px auto 20px auto;
	height: 50px;
	width: 325px;
	border-radius: 0;
}

.admision-btn:hover {
	color: #555555;
}


#seccion3 {
	height: 700px; 
  	display: block;
  	position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#seccion3::after {
	content: "";
  	background: url('../img/seccion2.png') no-repeat center; 
	background-size: cover;  
	opacity: 0.8;
  	top: 0;
  	left: 0;
  	bottom: 0;
  	right: 0;
  	position: absolute;
  	z-index: -1;   
}

.investigacion-txt {
	color: #25282a;
	font-size: 2em;
	text-align: right;
	font-weight: 700;
	padding: 20px 20px;
}

.investigacion-btn {
	color: #373737;
	background: #fff; 
	font-size: 1em;
	float: right;
	margin: 20px;
	height: 50px;
	width: 325px;
	border-radius: 0;
}

.investigacion-btn:hover {
	color: #555555;
}

#seccion4 {
	height: 700px; 
  	display: block;
  	position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#seccion4::after {
	content: "";
	background: #fff;
	background-size: cover;  
	opacity: 0.8;
  	top: 0;
  	left: 0;
  	bottom: 0;
  	right: 0;
  	position: absolute;
  	z-index: -1;   
}

.emprendimiento-txt {
	color: #212121;
	font-size: 2.5em;
	text-align: center;
	font-weight: 700;
	padding: 20px 20px;
}

.emprendimiento-btn {
	color: #fff;
	background: #0039A6;
	font-size: 1em;
	display: block;
	margin: 20px auto 20px auto;
	height: 50px;
	width: 300px;
	border-radius: 0;
}

.emprendimiento-btn:hover {
	color: #c4c4c4;
}

#seccion5 {
	height: 700px; 
  	display: block;
  	position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#seccion5::after {
	content: "";
	background: url('../img/seccion3.png') no-repeat center; 
	background-size: cover;  
	opacity: 0.7;
  	top: 0;
  	left: 0;
  	bottom: 0;
  	right: 0;
  	position: absolute;
  	z-index: -1;   
}

.campus-txt {
	color: #212121;
	font-size: 2.5em;
	text-align: left;
	font-weight: 700;
	padding: 20px 20px;
}

.campus-btn {
	color: #fff;
	background: #0039A6;
	font-size: 1em;
	float: left;	
	margin: 20px;
	height: 50px;
	width: 300px;
	border-radius: 0;
}

.campus-btn:hover {
	color: #c4c4c4;
}

.container-fluid {
	padding: 0;
}

.footer {
	margin: 0;
	background: #25282a;
	height: 150px;
}


.social-networks {
	padding-left: 0;
  	position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}

.social-networks-item {
	font-size: 1.5em;
	font-weight: 300;
	list-style: none;
	margin: 50px 0;
	padding: 0 10px;
}

.social-networks-item a {
	color: #fff;
	text-decoration: none;
}

.social-networks-item a span {
	padding: 5px;
}

.copyright-text {
	text-align: center;
	color: #fff;
	font-size: 0.6em;
	font-weight: 300;
	margin: 40px 0 0 0;
}


.nosotros-mini-container {
	height: 400px;
	padding: 10px 10px;
	background: #0039A6;
	margin: 20px 10px;
}

.nosotros-mini-container-header {
	color: #c6c6c6;
	text-align: center;
	font-weight: 700;
}

.nosotros-mini-container-btn {
	background: #fff;
	color: #25282a;
}

.nosotros-mini-container-txt {
	color: #fffdfd;
	font-size: 1.5em;
	text-align: center;
	font-weight: 400;
	padding: 20px 20px;
}





.profesional-mini-container {
	height: 400px;
	padding: 10px 10px;
	background: #0039A6;
	margin: 30px 30px;
}

.profesional-mini-container-header {
	color: #c6c6c6;
	text-align: center;
	font-weight: 700;
}

.profesional-mini-container-btn {
	background: #fff;
	color: #25282a;
	font-size: 1em;
	display: block;
	margin: 20px auto 20px auto;
	height: 50px;
	width: 300px;
	border-radius: 0;
}

.profesional-mini-container-txt {
	color: #fffdfd;
	font-size: 1.5em;
	text-align: center;
	font-weight: 400;
	padding: 20px 0px;
}

.profesional-mini-container-btn:hover {
	color: #c4c4c4;
}






.carousel-caption {
	bottom: 5%;
	left: 10%;
	position: absolute;
}

.carousel-caption-title {
	color: #fff;
	font-size: 2.3em; 
	font-weight: 700;
	margin: 0;
	text-transform: uppercase;
	text-align: left;
}

.carousel-caption-description {	
	color: #fff;
	font-size: 1.7em;
	font-weight: 400;
	margin: 15px 0;
	text-align: left;
	width: 70%;
}

.carousel-indicators {
	bottom: 20px;
	list-style: none;
	left: 0;
	margin: 10px 0;
	padding-right: 10%;
	position: absolute;
	padding-left: 0; 
	text-align: right;
	width: 100%; 
	z-index: 15;
}

.carousel-indicators .active {
	background-color: #0039A6;
	border: 1px solid #0039A6;
	height: 15px;
	margin-left: 3%;
	width: 15px;
}

.carousel-indicators li {
	background-color: #ded9da;
	border: 1px solid #ded9da;
	height: 14px;
	margin-left: 3%;
	width: 14px;
}

.carrusel {
	margin-top: 80px;
	padding-left: 0;
	padding-right: 0;
}

.carrusel img {
	height: auto;
	width: 100%;
}

.carrusel .col-md-12 {
	padding-right: 0;
	padding-left: 0;
}

.career-container {
	margin: 50px 0 0 0;
}

.description-text {
	font-size: 0.9em;
	text-align: left;
	font-weight: 300;
}

.description-text img {
	max-width: 100%;
}
.description-text ul li {
	font-size: 0.9em;
	text-align: left;
	font-weight: 300;
}

#description-video {
	max-width: 100%;
	height: auto;
}

.description-header {
	padding: 5px 0;
	border-bottom: 2px solid #0039A6;
}

.main-description {
	text-align: center;
}

.description-btn {
	color: #fff;
	background: #0039A6;
	font-size: 1em;
	display: block;
	margin: 20px auto 20px auto;
	height: 50px;
	width: 300px;
	border-radius: 0;
}

.description-btn:hover {
	color: #c4c4c4;
}





@media screen and (max-width: 414px) {

	body {
		font-size: 12px;
	}

	.investigacion-btn{
		width: 250px;
	}
	.admision-btn {
		width: 250px;
	}

	.campus-btn {
		width: 250px;
	}

	.emprendimiento-btn {
		width: 250px;
	}

	.conoce-mas-btn {
		width: 250px;
	}

	.social-networks-item {
		font-size: .5em;
		font-weight: 300;
		list-style: none;
		margin: 60px 0;
		padding: 0 2px;
	}

	.profesional-mini-container-btn {
		width: 200px;
	}



}
